/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}
nav ul a, nav {
color: #444;
background-color: #fff;
height: 80px;
}

.navbar-fixed {
height:70px;
}

a
{
color: lightgrey;
text-decoration: bold;
}

.nav-header {
background-color:#eee !important;
}

.section-height{
height:100px;
}

.brand-logo img {
height:70px;
margin-top:5px;
}

p {
line-height: 2rem;
}

.jeedomcolorbg {
background-color: #40535E !important;
}

.jeedomcolor {
color: #40535E !important;
}
.collection a.collection-item {
color: #40535E !important;
}

h1, h3, h5, h6 {
font-weight: 300;
line-height: 1.1;
}

h4 {
font-weight: 300;
line-height: 0.8;
font-size: 1.9rem;
}

h2 {
line-height: 0.5;
color: #888;
}

.waves-effect.waves-jeedom .waves-ripple {
background-color: rgba(64, 83, 94, 0.65);
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

main {
flex: 1 0 auto;
}
#ul_listPluginThird, #ul_listWiki, #ul_listChat, #ul_listMembers, #ul_listDeveloper{
background-color: rgba(64, 83, 94, 0.10) !important;
}

.tabs .tab a {
color: #40535E !important;
}
.tabs .indicator {
background-color: #40535E !important;
}

.tabs .tab a:hover {
color: #B0C3CE !important;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center !important;

}

.card-title {
display: block;
margin-left: auto;
margin-right: auto;
border-bottom-style: ridge;
border-bottom-width: 1px;
border-bottom-color: lightgrey;
}

.card-title-2 {
display: block;
margin-left: auto;
margin-right: auto;
padding-bottom: 10px;
padding-top: 10px;
font-size: 18px !important;
}

.card-text {
position: relative;
margin-left: 10px;
margin-right: 10px;
margin-top:10px;
text-align: center !important;
}

.card-action {
padding: 5px !important;
}


.badge1 {
position:relative;
}
.badge1[data-badge]:after {
content:attr(data-badge);
position:absolute;
top:-5px;
right:-5px;
font-size:.8em;
font-weight: bold;
background:red;
color:white;
width:25px;height:25px;
text-align:center;
line-height:25px;
border-radius:50%;
box-shadow:0 0 1px #333;
}

.btn {
display: inline-block;
height: 47px;
width: 47px;
text-align: center;
}

.btn-xs i{
font-size: 1.6rem;
line-height: 40px;
}

.btn-xs {
display: inline-block;
height: 40px;
width: 40px;
text-align: center;
}

.btn i{
font-size: 1.7rem;
line-height: 47px;
}

.btn-small {
height: 24px !important;
line-height: 24px;
padding: 0 0.5rem;
font-size: 12px !important;
}

.card-header{
font-size:1.2rem;
}

.titre{
line-height: 90px;
padding-left: 90px;
font-size: 18px;
}

.bg-blue {
background-color: #2196F3 !important;
color: #fff; }
.bg-blue .content .text,
.bg-blue .content .number {
color: #fff !important; }

.bg-red {
background-color: #F44336 !important;
color: #fff; }
.bg-red .content .text,
.bg-red .content .number {
color: #fff !important; }

.bg-green {
/*  background-color: #4CAF50 !important;*/
color: #fff; }
.bg-green .content .text,
.bg-green .content .number {
color: #fff !important; }

.bg-orange {
background-color: #dfb317 !important;
color: #fff; }
.bg-green .content .text,
.bg-green .content .number {
color: #fff !important; }

.page-footer{
background-color:#454449 !important;
position:fixed !important;
bottom:0 !important;
left:0 !important;
width:100% !important;
height:50px;
padding-top: 15px !important;
z-index:2;
}

/* Infobox ===================================== */
.info-box {
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
height: 80px;
display: flex;
cursor: default;
background-color: #fff;
position: relative;
overflow: hidden;
margin-bottom: 30px; }
.info-box .icon {
display: inline-block;
text-align: center;
background-color: rgba(0, 0, 0, 0.12);
width: 80px; }
.info-box .icon i {
color: #fff;
font-size: 50px;
line-height: 80px; }
.info-box .icon .chart.chart-bar {
height: 100%;
line-height: 100px; }
.info-box .icon .chart.chart-bar canvas {
vertical-align: baseline !important; }
.info-box .icon .chart.chart-pie {
height: 100%;
line-height: 123px; }
.info-box .icon .chart.chart-pie canvas {
vertical-align: baseline !important; }
.info-box .icon .chart.chart-line {
height: 100%;
line-height: 115px; }
.info-box .icon .chart.chart-line canvas {
vertical-align: baseline !important; }
.info-box .content {
display: inline-block;
padding: 0px 10px; }
.info-box .content .text {
font-size: 13px;
margin-top: 14px;
color: #555; }
.info-box .content .number {
font-weight: normal;
font-size: 26px;
margin-top: -4px;
color: #555; }

.info-box.hover-zoom-effect .icon {
overflow: hidden; }
.info-box.hover-zoom-effect .icon i {
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease; }

.info-box.hover-zoom-effect:hover .icon i {
opacity: 0.4;
-moz-transform: rotate(-32deg) scale(1.4);
-ms-transform: rotate(-32deg) scale(1.4);
-o-transform: rotate(-32deg) scale(1.4);
-webkit-transform: rotate(-32deg) scale(1.4);
transform: rotate(-32deg) scale(1.4); }

.info-box.hover-expand-effect:after {
background-color: rgba(0, 0, 0, 0.05);
content: ".";
position: absolute;
left: 80px;
top: 0;
width: 0;
height: 100%;
color: transparent;
-moz-transition: all 0.95s;
-o-transition: all 0.95s;
-webkit-transition: all 0.95s;
transition: all 0.95s; }

.info-box.hover-expand-effect:hover:after {
width: 100%; }

.chip {
margin-top:10px !important;
margin-bottom:0px !important;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 0.8rem;
    opacity:0.8;

    /* Position the tooltip */
    position: absolute;
    margin-top:-75px;
    z-index: 2;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.row {
    margin-bottom:0px;
}
