    /*
    Flaticon icon font: Flaticon
    Creation date: 24/07/2017 08:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-teamwork-7:before { content: "\f100"; }
.flaticon-002-teamwork-6:before { content: "\f101"; }
.flaticon-003-team-3:before { content: "\f102"; }
.flaticon-004-smartphone:before { content: "\f103"; }
.flaticon-005-team-2:before { content: "\f104"; }
.flaticon-006-decree:before { content: "\f105"; }
.flaticon-007-team-1:before { content: "\f106"; }
.flaticon-008-goal-1:before { content: "\f107"; }
.flaticon-009-calendar:before { content: "\f108"; }
.flaticon-010-idea:before { content: "\f109"; }
.flaticon-011-strategy:before { content: "\f10a"; }
.flaticon-012-puzzle:before { content: "\f10b"; }
.flaticon-013-helm:before { content: "\f10c"; }
.flaticon-014-briefcase:before { content: "\f10d"; }
.flaticon-015-trophy:before { content: "\f10e"; }
.flaticon-016-teamwork-5:before { content: "\f10f"; }
.flaticon-017-protection:before { content: "\f110"; }
.flaticon-018-placeholder:before { content: "\f111"; }
.flaticon-019-teamwork-4:before { content: "\f112"; }
.flaticon-020-tribune:before { content: "\f113"; }
.flaticon-021-employee-1:before { content: "\f114"; }
.flaticon-022-employee:before { content: "\f115"; }
.flaticon-023-cloud-computing:before { content: "\f116"; }
.flaticon-024-crm:before { content: "\f117"; }
.flaticon-025-teamwork-3:before { content: "\f118"; }
.flaticon-026-networking:before { content: "\f119"; }
.flaticon-027-boss-1:before { content: "\f11a"; }
.flaticon-028-folder:before { content: "\f11b"; }
.flaticon-029-laptop:before { content: "\f11c"; }
.flaticon-030-worldwide:before { content: "\f11d"; }
.flaticon-031-flag:before { content: "\f11e"; }
.flaticon-032-target:before { content: "\f11f"; }
.flaticon-033-id-card:before { content: "\f120"; }
.flaticon-034-curriculum:before { content: "\f121"; }
.flaticon-035-group:before { content: "\f122"; }
.flaticon-036-worker:before { content: "\f123"; }
.flaticon-037-job-search:before { content: "\f124"; }
.flaticon-038-boss:before { content: "\f125"; }
.flaticon-039-analytics:before { content: "\f126"; }
.flaticon-040-manager:before { content: "\f127"; }
.flaticon-041-presentation-2:before { content: "\f128"; }
.flaticon-042-clipboard:before { content: "\f129"; }
.flaticon-043-chat-1:before { content: "\f12a"; }
.flaticon-044-chat:before { content: "\f12b"; }
.flaticon-045-team:before { content: "\f12c"; }
.flaticon-046-presentation-1:before { content: "\f12d"; }
.flaticon-047-presentation:before { content: "\f12e"; }
.flaticon-048-goal:before { content: "\f12f"; }
.flaticon-049-teamwork-2:before { content: "\f130"; }
.flaticon-050-profits:before { content: "\f131"; }
.flaticon-051-interview-1:before { content: "\f132"; }
.flaticon-052-interview:before { content: "\f133"; }
.flaticon-053-teamwork-1:before { content: "\f134"; }
.flaticon-054-network:before { content: "\f135"; }
.flaticon-055-hierarchical-structure:before { content: "\f136"; }
.flaticon-056-woman:before { content: "\f137"; }
.flaticon-057-man:before { content: "\f138"; }
.flaticon-058-settings:before { content: "\f139"; }
.flaticon-059-conversation:before { content: "\f13a"; }
.flaticon-060-teamwork:before { content: "\f13b"; }
    
    $font-Flaticon-001-teamwork-7: "\f100";
    $font-Flaticon-002-teamwork-6: "\f101";
    $font-Flaticon-003-team-3: "\f102";
    $font-Flaticon-004-smartphone: "\f103";
    $font-Flaticon-005-team-2: "\f104";
    $font-Flaticon-006-decree: "\f105";
    $font-Flaticon-007-team-1: "\f106";
    $font-Flaticon-008-goal-1: "\f107";
    $font-Flaticon-009-calendar: "\f108";
    $font-Flaticon-010-idea: "\f109";
    $font-Flaticon-011-strategy: "\f10a";
    $font-Flaticon-012-puzzle: "\f10b";
    $font-Flaticon-013-helm: "\f10c";
    $font-Flaticon-014-briefcase: "\f10d";
    $font-Flaticon-015-trophy: "\f10e";
    $font-Flaticon-016-teamwork-5: "\f10f";
    $font-Flaticon-017-protection: "\f110";
    $font-Flaticon-018-placeholder: "\f111";
    $font-Flaticon-019-teamwork-4: "\f112";
    $font-Flaticon-020-tribune: "\f113";
    $font-Flaticon-021-employee-1: "\f114";
    $font-Flaticon-022-employee: "\f115";
    $font-Flaticon-023-cloud-computing: "\f116";
    $font-Flaticon-024-crm: "\f117";
    $font-Flaticon-025-teamwork-3: "\f118";
    $font-Flaticon-026-networking: "\f119";
    $font-Flaticon-027-boss-1: "\f11a";
    $font-Flaticon-028-folder: "\f11b";
    $font-Flaticon-029-laptop: "\f11c";
    $font-Flaticon-030-worldwide: "\f11d";
    $font-Flaticon-031-flag: "\f11e";
    $font-Flaticon-032-target: "\f11f";
    $font-Flaticon-033-id-card: "\f120";
    $font-Flaticon-034-curriculum: "\f121";
    $font-Flaticon-035-group: "\f122";
    $font-Flaticon-036-worker: "\f123";
    $font-Flaticon-037-job-search: "\f124";
    $font-Flaticon-038-boss: "\f125";
    $font-Flaticon-039-analytics: "\f126";
    $font-Flaticon-040-manager: "\f127";
    $font-Flaticon-041-presentation-2: "\f128";
    $font-Flaticon-042-clipboard: "\f129";
    $font-Flaticon-043-chat-1: "\f12a";
    $font-Flaticon-044-chat: "\f12b";
    $font-Flaticon-045-team: "\f12c";
    $font-Flaticon-046-presentation-1: "\f12d";
    $font-Flaticon-047-presentation: "\f12e";
    $font-Flaticon-048-goal: "\f12f";
    $font-Flaticon-049-teamwork-2: "\f130";
    $font-Flaticon-050-profits: "\f131";
    $font-Flaticon-051-interview-1: "\f132";
    $font-Flaticon-052-interview: "\f133";
    $font-Flaticon-053-teamwork-1: "\f134";
    $font-Flaticon-054-network: "\f135";
    $font-Flaticon-055-hierarchical-structure: "\f136";
    $font-Flaticon-056-woman: "\f137";
    $font-Flaticon-057-man: "\f138";
    $font-Flaticon-058-settings: "\f139";
    $font-Flaticon-059-conversation: "\f13a";
    $font-Flaticon-060-teamwork: "\f13b";